<body>
    <div class="login-container">
        <div class="login-info-container">
            <br><br>
            <h1 class="title">FACTURACIÓN ELECTRONICA</h1>
            <div class="social-login">

            </div>
            <form class="input-container">
                <input class="input" type="text" placeholder="Username">
                <input class="input" type="password" placeholder="Passoword">
                <span class="span-container">¿Has olvidado la contraseña?</span>
                <button class="btn">Login</button>
            
                <span>Crear cuenta nueva..</span>
                <br>
            </form>
        </div>
       
    </div>
</body>


